SECRET_KEY =  # openssl rand -hex 32


DEFAULT_ADMIN_PASSWORD=admin

DB_USER     = postgres
DB_PASSWORD = postgres
DB_HOST     = db          # local = localhost, docker = db
DB_PORT     = 5432
DB_NAME     = intranet_db
