<nav
  class="navbar is-dark is-fixed-top"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a href="/" class="navbar-item">
      <img
        src="{{ url_for('static', path='/images/intranet-logo.svg') }}"
        alt="Logo Intranet"
      />
    </a>
  </div>
  <!-- MENUS -->
  <div class="navbar-menu">
    <div class="navbar-start">
      {% if "admin" in user_roles %}
      <a class="navbar-item" href="/users/"> Usuários </a>
      {% endif %}
      <a class="navbar-item"> Exemplo </a>
    </div>
  </div>
  <!-- LOGIN/LOGOUT -->
  <div class="navbar-end">
    <div class="navbar-item">
      {% if user %}
      <span class="is-size-5 has-text-white">{{ user.name }}</span>
      <a hx-post="/auth/logout" class="button is-dark is-light">
        <span class="icon">
          <i class="fa-solid fa-right-from-bracket"></i>
        </span>
        <span>Sair</span>
      </a>
      {% else %}
      <a
        href="/auth/login"
        class="button is-dark is-light {{ 'is-invisible' if login }}"
      >
        <span class="icon">
          <i class="fa-solid fa-right-to-bracket"></i>
        </span>
        <span>Entrar</span>
      </a>
      {% endif %}
    </div>
  </div>
</nav>
